# globe

Globe visualizations in Golang backed by
[pinhole](https://github.com/tidwall/pinhole).

[![GoDoc Reference](http://img.shields.io/badge/godoc-reference-5272B4.svg?style=flat-square)](http://godoc.org/github.com/mmcloughlin/globe)
[![Build status](https://img.shields.io/travis/mmcloughlin/globe.svg?style=flat-square)](https://travis-ci.org/mmcloughlin/globe)

{% macro image(name) -%}
<p align="center"><img src="{% include 'examples/' + name + '.imgur' %}" /></p>
{%- endmacro %}

{% macro code(name) -%}
```go
{% include 'examples/' + name + '.snip' %}
```
{%- endmacro %}

{{ image('cities') }}

## Getting Started

Install `globe` with

```sh
$ go get -u github.com/mmcloughlin/globe
```

Start with a blank globe with a graticule at 10 degree intervals.

{{ code('graticule') }}
{{ image('graticule') }}

Add some land boundaries and center it on a point.

{{ code('land') }}
{{ image('land') }}

Here's all the [Starbucks locations](https://github.com/mmcloughlin/starbucks).

{{ code('starbucks') }}
{{ image('starbucks') }}

## License

`globe` is available under the ISC [License](/LICENSE).
